@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col col-6">
            <partial name="Partial_Register"></partial>
        </div>
        <div class="col col-6">
            <partial name="Partial_Login"></partial>
        </div>
    </div>